.add-user {
    display: flex;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.32);
    height: 3rem;
    justify-content: center;
    width: 3rem;
    align-items: center;
}

.add-user-plus {
    font-size: 20px;
}

.add-user-div {
    align-items: center;
    width: auto;
}

.add-user-text {
    box-sizing: border-box;
    padding-left: 10%;
}
.add-user-text > span {
    white-space: nowrap;
}
