<div class="flex-column-center height-100">
    <h4 style="text-transform: uppercase">Специалист не назначен</h4>
    <span>
        Чтобы начать работу с нераспределенными магазинами, <br>
        вам необходимо добавить хотя бы одного специалиста
    </span>
    <br><br>
    <div class="user-plus-icon">
        <span class="material-icons-outlined user-icon">
            account_circle
        </span>
        <span class="material-icons plus-icon">
            add
        </span>
    </div>
</div>
